__pycache__/
*.py[cod]
*$py.class

.venv/
venv/
env/

ab_test.db
reports/
*.sqlite
*.sqlite3

rsconnect-python/
rsconnect/

.Rproj.user/
.Rhistory
.RData
.Ruserdata

.DS_Store
.idea/
.vscode/

*.egg-info/
build/
dist/
